*{
	margin: 0;
	padding: 0;
	font-family: 'Noto Sans TC', sans-serif;
	font-weight: 700;
}

body{
	background-color: black;
}

.loading{
	position: absolute;
	width: 100vw;
	height: 100vh;
	z-index: 9999;
	background-color: black;
	display: flex;
	align-items: center;
	justify-content: center;
}

.wavy{
	position: relative;
	-webkit-box-reflect: below -12px linear-gradient(transparent, rgba(0,0,0,0.2)) ;
}

.wavy span{
	position: relative;
	display: inline-block;
	color: white;
	font-size: 2em;
	animation: animate 2s ease-in-out infinite;
	animation-delay: calc(0.2s * var(--i));
}

@keyframes animate{
	0%{
		transform: translateY(0px);
	}
	20%{
		transform: translateY(-20px);
	}
	40%,100%{
		transform: translateY(0px);
	}
}

#out{
	position: relative;	
}

.logo{
	width: 50%;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

.navbar-light .navbar-nav .nav-link:hover{
    color: black;
}

.navbar-light .navbar-toggler {
    border: none;
}

.lower{
	position: absolute;
	bottom: 40px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	display: inline-block;
	left: 0;
	right: 0;
	color: white;
}

.arrow{
	top: 20px;
	position: relative;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	display: inline-block;
	left: 0;
	right: 0;
	color: white;
	width: 40px;
	animation: bounce 2s ease infinite;
}

.scrolldown{
	animation: bounce 2s ease infinite;
}

.arrowcolor:hover{
	color: white;
}

.arrowcolor{
	color: white;
}

@keyframes bounce{
	0%, 25%, 55%, 75% 100%{
		transform: translateY(0);
	}
	45%{
		transform: translateY(-20px);
	}
	65%{
		transform: translateY(-10px);
	}
	85%{
		transform: translateY(-5px);
	}
}

.container1{
	color: white;
}

.container2{
	color: white;
}

.heading{
	font-size: 60px;
	color: white;
	padding-left: 150px;
	padding-bottom: 40px;
}

.widthset{
	width: 85%;
    margin: 0 auto;
}

.profiles{
	display: flex;
	justify-content: space-around;
	margin: 20px 80px;
}

.profile{
	margin-right: 50px;
	margin-left: 50px;
}

.profile .profile-img{
	height: 260px;
	width: 260px;
	border-radius: 50%;
	filter: grayscale(100%);
	cursor: pointer;
	transition: none;
}

.profile:hover .profile-img{
	filter: grayscale(0);
}

.top-img{
	text-align: center;
}

.user-name{
	margin-top: 30px;
	font-size: 35px;
}

.profile h3{
	color: white;
	font-weight: 700;
}

.profile h5{
	font-size: 18px;
	letter-spacing: 3px;
	color: white;
	font-weight: 700;
}

.profile p{
	color: white;
	font-size: 16px;
	margin: 20px;
	text-align: justify;
	font-weight: 500;
}

.s1{
	width: 100%;
	height: 100vh;
}

.s2{
	width: 100%;
	height: 100vh;
}

.s3{
	width: 100%;
	height: 200vh;
	padding-top: 50px;
}

.s3{
	background-image: url(https://i.imgur.com/pB5Q3GQ.png);
	background-size: cover;
	background-position: center;
}

.textspace{
	margin-top: 30px;
	margin-bottom: 30px; 
}

.s1{
	background-image: url(https://i.imgur.com/qE3D6wB.gif);
	background-size: cover;
	background-position: center;
}

.s2{
	background-image: url(https://i.imgur.com/WSx6HMW.jpg);
	background-size: cover;
	background-position: center;
}

.s2 .container{
	width: 75%;
	padding-right: 20px;
	color: white;
	font-weight: 500;
}

.s2 h2{
	opacity: 0;
}

.s2 p{
	opacity: 0;
}

#fp-nav ul li a span, .fp-slidesNav ul li a span {
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    height: 4px;
    width: 4px;
    border: 0;
    background: #fff;
    left: 50%;
    top: 50%;
    margin: -2px 0 0 -2px;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.toggle-btn{
	position: fixed;
	margin: 1.4em;
	padding: 1em;
	width: 60px;
	height: 48px;
	left: 0;
	z-index: 2;
	cursor: pointer;
}

.menu{
	background-image: url(https://i.imgur.com/pB5Q3GQ.png);
	z-index: 1;
	position: absolute;
	height: 100vh;
	width: 100%;
	left: -100%;
}

.data{
	padding: 8em 0 0 2em;
	text-align: left;
}

.data img{
	width: 30%;
}

ul{
	list-style: none;
}

li{
	margin-top: 10px;
	margin-bottom: 10px;
}

li:first-child{
	color: #fff;
	font-size: 24px;
}

ul a{
	color: #fff;
	text-decoration: none;
}

ul a:hover{
	color: #fff;
	text-decoration: none;
}

span.one{
	position: absolute;
	width: 40px;
	height: 2px;
	background-color: white;
}

span.two{
	position: absolute;
	width: 40px;
	height: 2px;
	background-color: white;
	margin-top: 12px;
}

span.three{
	position: absolute;
	width: 40px;
	height: 2px;
	background-color: white;
	margin-top: 24px;
}

footer{
	position: relative;
	width: 100%;
	height: 90px;
	bottom: 0;
	background-color: white;
}

footer p{
	padding-top: 20px;
	float: right;
	vertical-align: center;
	margin-bottom: 0;
}

.info{
	width: 100%;
	margin-left: 150px;
	color: black;
	text-align: left;
}

.icslogo{
	text-align: center;
	padding-top: 15px;
}

.icslogo img{
	width: 65%;
}

.schoollogo{
	text-align: center;
	padding-top: 17px;
}

.schoolimg img{
	width: 70%;
}

.s2 .container h2{
	opacity: 0;
	visibility: hidden;
}

.s2 p{
	line-height: 30px;
}

.copyright img{
	width: 90%;
	padding-top: 15px;
}

.sponsor h3{
	color: white;
	text-align: center;
}

.sponsor{
	text-align: center;
	margin-top: 60px;
	margin-bottom: 20px;
	width: 100%;
	height: 30%;
}

.sponsor-img{
	width: 30%;
}

#smileLogo{
	width: 25%;
	height: auto;
}

#pegavisionLogo{
	width: 25%;
	height: auto;
	padding-top: 15px;
}

#myPlusLogo{
	width: 40%;
	height: auto;
	padding-top: 25px;
}

@media only screen and (max-width: 1200px){
	.profiles{
		flex-direction: column;
	}

	.profile{
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.profile p{
		text-align: left;
		margin: 20px 20px 80px 20px;
		font-size: 16px;
	}

	.textsetting{
		width: 300px;
	}
}

@media only screen and (max-width: 992px){
	.heading{
		text-align: center;
		font-size: 40px;
		color: white;
		padding-left: 0px;
	}

	.s1{
		background-image: url(https://imgur.com/bGMApe8.jpg);
		background-size: cover;
		background-position: center;
	}

	.profiles{
		flex-direction: column;
	}

	.profile{
		display: flex;
		flex-direction: column;
	}

	.profile p{
		margin: 20px 10px 80px 10px;
	}

	.textsetting{
		width: 250px;
	}

	.textsetting p{
		text-align: left;
		font-size: 14px;
	}

	#pegavisionLogo{
		width: 25%;
		height: auto;
		padding-top: 10px;
	}

	#myPlusLogo{
		width: 50%;
		height: auto;
		padding-top: 25px;
	}
}

@media only screen and (max-width: 768px){
	footer{
		position: relative;
		width: 100%;
		height: 120px;
		bottom: 0;
		background-color: white;
	}

	footer p{
		padding-top: 5px;
		text-align: center;
		font-size: 10px;
		margin-bottom: 0;
	}

	.icslogo{
		width: 60%;
		text-align: center;
		padding-top: 15px;
	}

	.icslogo{
		width: 70%;
	}

	.schoollogo{
		width: 60%;
		text-align: center;
		padding-top: 17px;
		margin-right: 0px;
	}

	.schoolimg{
		width: 70%;
	}
}

@media screen and (orientation:portrait) {
	@media screen and (max-width: 1024px){
		.s2 .container{
		    width: 65%;
		    margin: 0 auto;
		    color: white;
		    text-align: left;
		}

		.s2 .container p{
			font-size: 20px;
			line-height: 30px;
			font-weight: 500;
		}

		.textspace{
			margin-top: 25px;
			margin-bottom: 25px;
		}

		footer{
			position: relative;
			width: 100%;
			height: 70px;
			bottom: 0;
			background-color: white;
		}

		.copyright{
			width: 100%;
			text-align: center;
			margin-bottom: 0;
		}

		.copyright img{
			padding-top: 20px;
		}

		.icslogo{
			width: 150%;
			text-align: center;
			padding-top: 15px;
		}

		.schoollogo{
			width: 150%;
			text-align: center;
			padding-top: 15px;
			margin-right: 0px;
		}

		.sponsor{
			text-align: center;
			margin-top: 0px;
			margin-bottom: 30px;
			width: 100%;
			height: 30%;
		}

		.sponsor-img{
			width: 50%;
		}
	}

	@media only screen and (max-width: 992px){
		.s2{
			background-image: url(https://imgur.com/SJAtc2e.jpg);
			background-size: cover;
			background-position: center;
		}
		
		.heading{
			text-align: center;
			font-size: 40px;
			color: white;
			padding-left: 0px;
		}

		.profiles{
			flex-direction: column;
		}

		.profile{
			display: flex;
			flex-direction: column;
		}

		.profile p{
			margin: 20px 10px 80px 10px;
		}

		.textsetting{
			width: 250px;
		}

		.textsetting p{
			text-align: left;
			font-size: 14px;
		}
	}

	@media screen and (max-width: 768px){
		.s1{
			background-image: url(https://i.imgur.com/bGMApe8.jpg);
			background-size: cover;
			background-position: center;
		}

		.s2{
			background-image: url(https://i.imgur.com/SJAtc2e.jpg);
			background-size: cover;
			background-position: center;
		}

		.s2 .container{
		    width: 80%;
		    margin: 0 auto;
		    color: white;
		    text-align: left;
		}

		.s2 .container p{
			font-size: 15px;
			line-height: 20px;
			font-weight: 700;
		}
		
		footer{
			position: relative;
			width: 100%;
			height: 40px;
			bottom: 0;
			background-color: white;
		}

		.copyright{
			width: 120%;
			text-align: center;
			margin-bottom: 0;
		}

		.copyright img{
			padding-top: 5px;
		}

		.icslogo{
			width: 180%;
			text-align: center;
			padding-top: 3px;
		}

		.schoollogo{
			width: 180%;
			text-align: center;
			padding-top: 3px;
			margin-right: 0px;
		}

		#fp-nav ul li:hover .fp-tooltip, #fp-nav.fp-show-active a.active + .fp-tooltip {
		    -webkit-transition: opacity 0.2s ease-in;
		    transition: opacity 0.2s ease-in;
		    width: auto;
		    opacity: 0;
		}

		.sponsor{
			text-align: center;
			margin-top: 0px;
			margin-bottom: 30px;
			width: 100%;
			height: 30%;
		}

		.sponsor-img{
			width: 50%;
		}
}

	@media screen and (max-width: 375px){
		.s1{
			background-image: url(https://i.imgur.com/DltBqMy.jpg);
			background-size: cover;
			background-position: center;
		}

		.s2{
			background-image: url(https://i.imgur.com/SJAtc2e.jpg);
			background-size: cover;
			background-position: center;
		}

		.s2 .container{
			padding-top: 90px;
			width: 85%;
		}

		.s2 .container p{
			font-size: 11px;
			line-height: 20px;
		}

		.textspace{
			margin-top: 5px;
			margin-bottom: 10px;
		}

		.fp-tableCell {
		    display: table-cell;
		    width: 100%;
		    vertical-align: initial;
		}

		footer{
			position: relative;
			width: 100%;
			height: 30px;
			bottom: 0;
			background-color: white;
		}

		.copyright{
			width: 130%;
			text-align: center;
			margin-bottom: 0;
		}

		.copyright img{
			padding-top: 5px;
		}

		.icslogo{
			width: 200%;
			text-align: center;
			padding-top: 3px;
		}

		.schoollogo{
			width: 200%;
			text-align: center;
			padding-top: 3px;
			margin-right: 0px;
		}

		#fp-nav ul li:hover .fp-tooltip, #fp-nav.fp-show-active a.active + .fp-tooltip {
		    -webkit-transition: opacity 0.2s ease-in;
		    transition: opacity 0.2s ease-in;
		    width: auto;
		    opacity: 0;
		}

		.sponsor{
			text-align: center;
			margin-top: 0px;
			margin-bottom: 30px;
			width: 100%;
			height: 30%;
		}

		.sponsor-img{
			width: 65%;
		}
	}
}

@media screen and  (orientation:landscape){
	@media only screen and (max-width: 1366px){
		.s1{
			background-image: url(https://i.imgur.com/v8rdtND.jpg);
			background-size: cover;
			background-position: center;
		}

		.s2{
			background-image: url(https://i.imgur.com/WSx6HMW.jpg);
			background-size: cover;
			background-position: center;
		}
		.s2 .container {
		    padding-top: 25px;
		    width: 70%;
		    margin-right: 20%;
		    color: white;
		    font-weight: 500;
		}

		.s2 p {
			font-size: 15px;
	    	line-height: 30px;
		}

		footer{
			position: relative;
			width: 100%;
			height: 80px;
			bottom: 0;
			background-color: white;
		}

		.copyright{
			width: 100%;
			text-align: center;
			margin-bottom: 0;
		}

		.copyright img{
			padding-top: 20px;
		}

		.icslogo{
			width: 150%;
			text-align: center;
			padding-top: 15px;
		}

		.schoollogo{
			width: 150%;
			text-align: center;
			padding-top: 15px;
			margin-right: 0px;
		}
	}

	@media only screen and (max-width: 992px){
		.s2{
			background-image: url(https://imgur.com/SJAtc2e.jpg);
			background-size: cover;
			background-position: center;
		}

		.heading{
			text-align: center;
			font-size: 40px;
			color: white;
			padding-left: 0px;
		}

		.profiles{
			flex-direction: column;
		}

		.profile{
			display: flex;
			flex-direction: column;
		}

		.profile p{
			margin: 20px 10px 80px 10px;
		}

		.textsetting{
			width: 250px;
		}

		.textsetting p{
			text-align: left;
			font-size: 14px;
		}
	}

	@media only screen and (max-width: 768px){
		.s1{
			background-image: url(https://i.imgur.com/qE3D6wB.gif);
			background-size: cover;
			background-position: center;
		}

		.s2{
			background-image: url(https://i.imgur.com/WSx6HMW.jpg);
			background-size: cover;
			background-position: center;
		}

		.s2 .container {
		    padding-top: 25px;
		    width: 45%;
		    margin-right: 3%;
		    color: white;
		    font-weight: 100;
		}

		.s2 p {
			font-size: 11px;
	    	line-height: 20px;
		}

		.textspace {
	    	margin-top: 10px;
	    	margin-bottom: 10px;
		}

		#fp-nav ul li:hover .fp-tooltip, #fp-nav.fp-show-active a.active + .fp-tooltip {
		    -webkit-transition: opacity 0.2s ease-in;
		    transition: opacity 0.2s ease-in;
		    width: auto;
		    opacity: 0;
		}

		footer{
			position: relative;
			width: 100%;
			height: 40px;
			bottom: 0;
			background-color: white;
		}

		footer p{
			padding-top: 10px;
			text-align: center;
			font-size: 4px;
			margin-bottom: 0;
		}

		.copyright{
			width: 100%;
			text-align: center;
			margin-bottom: 0;
		}

		.copyright img{
			padding-top: 10px;
		}

		.icslogo{
			width: 160%;
			text-align: center;
			padding-top: 5px;
		}

		.schoollogo{
			width: 160%;
			text-align: center;
			padding-top: 5px;
			margin-right: 0px;
		}
	}
}



