*{
	margin: 0;
	padding: 0;
	box-sizing: border-box; 
	font-family: 'Noto Sans TC', sans-serif;
}

body{
	background-color: white;
	overflow-x: hidden;
	box-sizing: border-box;
}

.loading{
	position: fixed;
	width: 100vw;
	height: 100vh;
	z-index: 9999;
	background-color: black;
	display: flex;
	align-items: center;
	justify-content: center;
}

.wavy{
	position: relative;
	-webkit-box-reflect: below -12px linear-gradient(transparent, rgba(0,0,0,0.2)) ;
}

.wavy span{
	position: relative;
	display: inline-block;
	color: white;
	font-size: 2em;
	animation: animate 2s ease-in-out infinite;
	animation-delay: calc(0.2s * var(--i));
}

@keyframes animate{
	0%{
		transform: translateY(0px);
	}
	20%{
		transform: translateY(-20px);
	}
	40%,100%{
		transform: translateY(0px);
	}
}

.header{
	height: 8vh;
	width: 100%;
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    justify-content: flex-end;
}

#headerContainer{
	width: 100%;
	position: relative;
	background-color: transparent;
	display: flex;
	min-height: 10vh;
	align-items: center;
	justify-content: space-around;
	transition: 0.8s ease;
}

.mainNav{
	width: 200%;
}

.headerContainer .mainNav ul li{
	display: block;
	float: left;
	list-style: none;
}

.headerContainer .mainNav ul li a{
	cursor: pointer;
	color: white;
	text-decoration: none;
	transition: 0.5s ease-in-out;
	padding: 5px 20px;
}

.headerContainer .mainNav ul li a:hover{
	background-color: white;
	cursor: pointer;
	color: #6a9d9f;
	text-decoration: none;
}

.logo img{
	width: 30%;
	height: auto;
}

.header .logo{
	top: 0;
	left: 0;
	margin-top: 5px;
	margin-left: 20px;
	width: 100%;
	height: auto;
	display: block;
}

.wrapper{
	display: flex;
	align-items: center;
	margin-right: 20px;
}

.menu{
	background-image: url(https://i.imgur.com/pB5Q3GQ.png);
	z-index: 0;
	position: absolute;
	height: 300vh;
	width: 100%;
	left: -100%;
}

.data{
	position: fixed;
	padding: 8em 0 0 2em;
	text-align: left;
}

.rwdBurger div{
	transform: translateY(50%);
	background-color: white;
	width: 25px;
	height: 3px;
	margin: 5px;
	display: none;
}

.rwdText p{
	margin-bottom: 0;
	color: white;
	display: none;
}

.burger{
	z-index: 1001;
	display: none;
}

.burger:hover{
	cursor: pointer;
	display: none;
}

.burger div{
	background-color: white;
	width: 25px;
	height: 3px;
	margin: 5px;
}

.data ul{
	list-style: none;
}

.data li{
	margin-top: 10px;
	margin-bottom: 10px;
}

.data li:first-child{
	color: #fff;
	font-size: 24px;
}

.data ul a{
	color: #fff;
	text-decoration: none;
}

.data ul a:hover{
	color: #fff;
	text-decoration: none;
}

.s1{
	width: 100vw;
	min-height: 100vh;
	background-image: url(https://i.imgur.com/pB5Q3GQ.png);
	background-size: cover;
	background-position: center;
}

.wrapper{
	margin-top: 100px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
}

.upperContent{
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 1200px;
}

.content{
	margin-top: 35px;
}

.fa-map-marker-alt{
	margin-left: 20px;
}

.fa-subway{
	margin-right: 20px;
}

.lowerContent{
	margin-top: 100px;
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 1200px;
}

.fa-parking{
	margin-right: 20px;
}

.shop{
	margin-top: 100px;
	position: relative;
	display: flex;
	width: 1200px;
	justify-content: flex-start;
}

.fa-store{
	margin-left: 20px;
}

.shopContent{
	margin-top: 100px;
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 1200px;
	margin-bottom: 100px;
}

.shopContent img{
	width: 30%;
}

.introduce{
	margin-left: 30px;
	display: flex;
	flex-direction: column;
}