*{
	margin: 0;
	padding: 0;
	box-sizing: border-box; 
	font-family: 'Noto Sans TC', sans-serif;
}

body{
	background-color: #F6F2E8;
	overflow-x: hidden;
}

.loading{
	position: fixed;
	width: 100vw;
	height: 100vh;
	z-index: 9999;
	background-color: #5aa6a5;
	display: flex;
	align-items: center;
	justify-content: center;
}

.wavy{
	position: relative;
	-webkit-box-reflect: below -12px linear-gradient(transparent, rgba(0,0,0,0.2)) ;
}

.wavy span{
	position: relative;
	display: inline-block;
	color: white;
	font-size: 2em;
	animation: animate 2s ease-in-out infinite;
	animation-delay: calc(0.2s * var(--i));
}

@keyframes animate{
	0%{
		transform: translateY(0px);
	}
	20%{
		transform: translateY(-20px);
	}
	40%,100%{
		transform: translateY(0px);
	}
}

.header{
	height: 8vh;
	width: 100%;
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    justify-content: flex-end;
}

#headerContainer{
	width: 100%;
	position: relative;
	background-color: #5aa6a5;
	display: flex;
	min-height: 10vh;
	align-items: center;
	justify-content: space-around;
	transition: 0.8s ease;
}

.mainNav{
	width: 200%;
}

.headerContainer .mainNav ul li{
	display: block;
	float: left;
	list-style: none;
}

.headerContainer .mainNav ul li a{
	cursor: pointer;
	color: white;
	text-decoration: none;
	transition: 0.5s ease-in-out;
	padding: 5px 20px;
}

.headerContainer .mainNav ul li a:hover{
	background-color: white;
	cursor: pointer;
	color: #6a9d9f;
	text-decoration: none;
}

.logo img{
	width: 30%;
	height: auto;
}

.header .logo{
	top: 0;
	left: 0;
	margin-top: 5px;
	margin-left: 20px;
	width: 100%;
	height: auto;
	display: block;
}

.cover{
	width: 100%;
	height: 232px;
}

.cover img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.upper{
	padding: 100px 200px;
}

.upper h1{
	font-size: 6em;
	color: transparent;
	-webkit-text-stroke: 2px rgb(26, 26, 26);
}

.upper h2{
	font-size: 2em;
	margin-top: 20px;
}

.main-content{
	padding: 0px 200px;
}

[data-tab-content] {
	display: none;
}

.active[data-tab-content] {
	display: inherit;
}

.tabs {
	display: flex;
	list-style-type: none;
	margin: 0;
	padding-bottom: 30px;
	padding: 0;
	border-bottom: 1px solid black;
}

.tab {
	cursor: pointer;
	padding: 10px;
	transition: 0.3s ease-in-out;
}

.tab.active {
	background-color: #CCC;
}

.tab:hover {
	background-color: #AAA;
}

.tab-content {
	margin-top: 30px;
	margin-left: 20px;
	margin-right: 20px;
}

.tab-content:nth-child(2) li{
	list-style-type: decimal;
}

.menu{
	background: #5aaa6a5;
	z-index: 0;
	position: absolute;
	height: 300vh;
	width: 100%;
	left: -100%;
}

.data{
	position: fixed;
	padding: 8em 0 0 2em;
	text-align: left;
}

.rwdBurger div{
	transform: translateY(50%);
	background-color: white;
	width: 25px;
	height: 3px;
	margin: 5px;
	display: none;
}

.rwdText p{
	margin-bottom: 0;
	color: white;
	display: none;
}

.data ul{
	list-style: none;
}

.data li{
	margin-top: 10px;
	margin-bottom: 10px;
}

.data li:first-child{
	color: #fff;
	font-size: 24px;
}

.data ul a{
	color: #fff;
	text-decoration: none;
}

.data ul a:hover{
	color: #fff;
	text-decoration: none;
}