*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Noto Sans TC', sans-serif;
}

body{
	height: 100vh;
	background-color: #fff;
	cursor: url("../image/cursor.svg"), auto;
	overflow: hidden;
}

a:hover{
	cursor: url('../image/hover.svg'), auto;
}

.loading{
	position: fixed;
	width: 100%;
	height: 100vh;
	max-width:100%;
	z-index: 9999;
	background-color: #5aa6a5;
	display: flex;
	align-items: center;
	justify-content: center;
}

.wavy{
	position: relative;
	-webkit-box-reflect: below -12px linear-gradient(transparent, rgba(0,0,0,0.2)) ;
}

.wavy span{
	position: relative;
	display: inline-block;
	color: white;
	font-size: 2em;
	animation: animate 2s ease-in-out infinite;
	animation-delay: calc(0.2s * var(--i));
}

@keyframes animate{
	0%{
		transform: translateY(0px);
	}
	20%{
		transform: translateY(-20px);
	}
	40%,100%{
		transform: translateY(0px);
	}
}

@keyframes fadeInUp {
	from { 
		opacity: 0;
		-webkit-transform: translate3d(0, 100%, 0);
		transform: translate3d(0, 100%, 0);
	}

	to {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}

.start {
	background: #fff;
	width: 100%;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	color: black;
	opacity: 1;
}

.start h1 {
	font-size: 50px;
	letter-spacing: 10px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	font-weight: 700;
}

.title .intro {
	letter-spacing: 10px;
	color: black;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	white-space: nowrap;
}

.s1 {
	height: 100vh;
}

.s2 {
	height: 100vh;
}




















